.clocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 10%;
}

.clock-article {
  border: 2px solid var(--watch-bg);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  min-width: 290px;
  min-height: 300px;
}

.clock {
  position: relative;
  border: 4px solid var(--watch-bg);
  border-radius: 50%;
  background: hsl(273, 24%, 93%);
  margin: 15px auto;
}

.clock-number {
  position: absolute;
  transform: translate(-50%, -50%);
  color: var(--watch-bg);
}

.clock-center {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock-article:hover {
  transform: translateY(-5px);
}

.clock-type-fieldset {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  padding-bottom: 20px;
}

.clock-marker {
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 5px;
  background: var(--watch-bg);
  left: 50%;
  margin-left: -5px;
  margin-top: -2px;
  transform-origin: 50% 150px;
}

.clock-type-legend {
  font-weight: bold;
  color: #333;
  padding: 0 10px;
}

.clock-type-label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

.clock-type-label input {
  margin-right: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
}

:root {
  --digit: hsl(87, 43%, 4%);
  --face: hsl(96, 33%, 97%);
  --content: hsl(0, 0%, 40%);
  --glare: hsla(0, 0%, 100%, 0.2);
  --watch-bg: hsl(270, 100%, 30%);
  --stroke: hsl(0, 0%, 15%);
  --start: hsl(50, 100%, 50%);
  --start-two: hsl(50, 100%, 50%);
  --background: hsl(0, 13%, 78%);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(to bottom, #e0f7fa, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-size:  clamp(10px, 1.5rem, 20px);
}

button {
  appearance: none;
  border: 0;
  outline: transparent;
  background: none;
  font-size: inherit;
  font-family: inherit !important;
}

.mode-button,
.light-button,
.increase-button,
.reset-button,
.format-button {
  width: 70%;
  height: 35%;
  position: absolute;
  bottom: -4px;
  border: 1px solid var(--stroke);
  border-radius: 3px;
  background: var(--start);
  overflow: hidden;
  min-width: 28px;
  min-height: 9px;
  transition: transform 0.2s ease, height 0.2s ease;
}

.mode-button:active,
.light-button:active,
.increase-button:active,
.reset-button:active,
.format-button:active {
  height: 40%;
  transform: scaleY(0.9);
}

.reset-button,
.format-button {
  background-color: #3e8e41;
}

.minute-container,
.hour-container,
.second-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.minute-container {
  pointer-events: auto;
  z-index: 10;
}

.hour-needle {
  background: teal;
  height: 35%;
  left: 48.75%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 1.5%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-needle {
  background: purple;
  height: 45%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 1.1%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  pointer-events: auto;
  z-index: 10;
}

.second-needle {
  background: coral;
  height: 50%;
  left: 49.5%;
  position: absolute;
  top: 7%;
  transform-origin: 50% 80%;
  width: 0.8%;
  z-index: 8;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

#add-clock-btn {
  top: 50%;
  position: relative;
  background-color: #4caf50; /* Vert */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  text-shadow: 0 0 2px #000;
  box-shadow: 0 4px #2d6b35;
  transition: background-color 0.3s ease;
  font-family: inherit ;
}

#add-clock-btn:hover {
  background-color: #45a049; /* Vert plus clair au survol */
}

#add-clock-btn:active {
  background-color: #3e8e41; /* Vert plus foncé lors du clic */
  box-shadow: 0 2px #2d6b35;
  transform: translateY(2px);
}

span.label-mode {
  display: inline-block;
  transform: rotate(-39deg);
  left: 0px;
  top: -12px;
  position: relative;
}

span.label-light {
  display: inline-block;
  transform: rotate(-230deg);
  position: relative;
  top: -15px;
}

span.label-increase {
  display: inline-block;
  transform: rotate(230deg);
  position: relative;
  top: -13.8px;
  left: -13.2px;
}

span.label-reset {
  display: inline-block;
  transform: rotate(39deg);
  position: relative;
  top: -13px;
  right: 15px;
}

span.label-format {
  display: inline-block;
  transform: rotate(-90deg);
  position: relative;
  top: -40px;
  right: 28px;
  width: 78px;
}

.mode-button:after,
.light-button:after,
.increase-button:after,
.reset-button:after,
.format-button:after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background: var(--start-two);
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translate(-20%, 35%);
}

.reset-button:after,
.format-button:after {
  background-color: #3e8e41;
}

.watch {
  height: 180px;
  width: 180px;
  background-color: var(--watch-bg);
  border-radius: 50%;
  border: 1px solid var(--stroke);
  position: relative;
  min-width: 200px;
  min-height: 200px;
  left: 16.8px;
  top: 15px;
}

.watch-control {
  --size: min(35px, 60px);
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 0.05s;
  transform: translate(-50%, -50%) rotate(var(--rotation, 0deg))
    translate(0, -120px) translateY(calc(var(--y, 0) * 1%));
  z-index: 10;
  font-size: 18px;
}

.mode-watch {
  --rotation: 40deg;
}

.reset-watch {
  --rotation: -40deg;
}

.light-watch {
  --rotation: -130deg;
}

.format-watch {
  --rotation: 90deg;
}

.increase-watch {
  --rotation: 130deg;
}

.watch__content {
  height: 240px;
  border: 3px solid var(--stroke);
  width: 240px;
  background-color: var(--content);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.watch__content:before {
  box-shadow: 0 0 0 30px var(--shadow);
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%) translate(0, 2%);
}

.edit-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: var(--watch-bg);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.edit-btn:hover {
  background-color: hsl(270, 96%, 20%);
}

.edit-btn:active {
  background-color: hsl(270, 70%, 71%);
  transform: scale(0.95);
}

.edit-btn.editing {
  background-color: #ff5733;
}

.watch__content:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%) rotate(-50deg);
  background: linear-gradient(
    transparent 0 15%,
    var(--glare) 16% 35%,
    transparent 36% 40%,
    var(--glare) 41% 45%,
    transparent 46%
  );
}
.watch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  position: relative;
  top: 10%;
  bottom: 10%;
}

.watch-display {
  color: var(--digit);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 11px;
  border-radius: 6px;
  background: var(--face);
  width: 150px;
  height: 48px;
  justify-content: center;
}

.digit {
  font-size: clamp(30px, 24px, 40px) ;

}

.ms {
  padding-left: 6px;
  font-size: clamp(15px, 13.8px, 25px)!important;
  transform: translate(0, 38%);
  position: relative;
  bottom: 0;
  right: 0;
}

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.clock-wrapper {
  position: relative;
  width: 350px;
  height: 250px;
  border: 2px solid var(--watch-bg);
  border-radius: 12px;
  padding: 10px;
  position: relative;
}

.digital {
  display: inline-block;
  padding: 30px 0 0 30px
}

.analog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: inherit
}

.close-btn:hover {
  color: red;
}

.custom-dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

#timezone {
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 80%;
  font-size: inherit;
  font-family: inherit;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  padding: 4px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}
